Options -Indexes
RewriteEngine On

# Send everything to index.php unless the file/dir actually exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
