<!-- Page content-->
<section class="py-5 proyectos">
  <div class="container px-5">
    <div class="bg-dark rounded-4 py-5 px-4 px-md-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder text-white">Envianos un mensaje</h1>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <form id="contactForm" action="/server.html" method="get">
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Lucas Nicolas Góngora Llumiquinga"
                pattern="[A-Za-z ]{3,}"
                required
              />
              <label for="name">Nombre Completo</label>
            </div>

            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="name@example.com"
                required
              />
              <label for="email">Correo electrónico</label>
            </div>

            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder="0995190490"
                pattern="[0-9]{10}"
                required
              />
              <label for="phone">Número de Teléfono</label>
            </div>

            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                required
              ></textarea>
              <label for="message">Mensaje</label>
            </div>

            <div class="d-flex justify-content-center">
              <button
                class="btn btn-warning btn-lg"
                id="submitButton"
                type="submit"
                mailto="gongoralucas59@gmail.com"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
