<section class="portada row g-0">
  <!-- TEXTO -->
  <div
    class="col-12 col-lg-6 d-flex align-items-center p-5 portada-texto bg-dark-0"
  >
    <div class="text-white">
      <h4 class="text-uppercase mb-3 cabecera">
        Sistema de Gestión Legal Profesional
      </h4>

      <h3 class="display-5 fw-bold mb-4">
        Organiza tus casos con precisión, agilidad y seguridad total.
      </h3>

      <p class="lead opacity-75 mb-4">
        Optimiza tu práctica jurídica con herramientas diseñadas para abogados
        modernos.
      </p>

      <div class="d-flex flex-wrap gap-3">
        <a class="btn cta py-2 px-4" href="/pages/auth.html">Regístrate</a>
        <a
          class="btn cta-secondary py-2 px-4"
          href="/views/porque.html"
          onclick="cargarViews(event,this.href)"
          >Conoce más</a
        >
      </div>
    </div>
  </div>

  <!-- IMAGEN -->
  <div class="col-12 col-lg-6 h-100 w-md-100 w-lg-50">
    <img
      src="/public/imgs/backgorund_index.avif"
      class="ajustar img-fluid h-100 w-lg-50 w-md-100"
    />
  </div>
</section>
