<section class="container py-5 bg-dark-0 text-white">
        <div class="text-center mb-5">
          <h2 class="fw-bold ">¿Por qué elegir LEXIA?</h2>
          <p class="text-muted">
            La solución más práctica y moderna para la gestión legal.
          </p>
        </div>


        <div class="row g-4">
          <div class="col-12 col-md-4">
            <div class="card h-100 shadow-sm border-0 bg-dark p-2">
              <div class="card-body text-center">
                <h5 class="fw-bold mb-3">Alertas</h5>
                <p>
                  Genera alertas de forma automáticas según los plazos de entrega de los casos.
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <img src="/public/imgs/recordatorios.png" alt="recordatorios" class="img-fluid w-50">
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="card h-100 shadow-sm border-0 bg-dark p-2">
              <div class="card-body text-center">
                <h5 class="fw-bold mb-3">Información centralizada</h5>
                <p>
                  Gestiona casos, clientes, demandados y pagos.
                </p>
              </div>
              <div class="d-flex justify-content-center">
                  <img src="/public/imgs/informacionCentralizada.png" alt="informacionCentralizada" class="img-fluid w-50">
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="card h-100 shadow-sm border-0 bg-dark p-2">
              <div class="card-body text-center">
                <h5 class="fw-bold mb-3">Alta disponibilidad</h5>
                <p>
                  Acceso desde cualquier sitio.
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <img src="/public/imgs/disponibilidad.png" alt="disponibilidad-imagen" class="img-fluid w-50">
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center gap-3">
              <a href="/views/paraQuienes.html" class="btn cta-secondary" onclick="cargarViews(event,this.href)">Conoce más</a>
          </div>
        </div>
      </section>