*.class

*.log
logs/

*.jar
*.war

/target/
/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

/.idea/
*.iml
/.classpath
/.project
/.settings/
.factorypath
.vscode/

.DS_Store
Thumbs.db

*.tmp
*.swp

.env

coverage/
node_modules/
