@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial;
    margin: 0;
}

.header {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu ul {
    list-style: none;
    background: #444;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li a {
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    background: #666;
}

.contenido {
    padding: 20px;
}

.gif-inicio {
    text-align: center;
    margin-top: 30px;
}

.gif-inicio img {
    max-width: 300px;
    opacity: 0.9;
}

/*
body {
	background-color: ghostwhite;
	
}

h1{
	text-align: center;
}

.contenedor{
	width: 40%;
	margin: 20px auto;
	background-color: aliceblue;
	padding: 10px 30px 30px;
	border-radius: 10px;
}

form input{
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.cabecera{
	background-color: red;
}

.menu{
	background-color: black;
	padding: 10px;
}

.menu a{
	color: white;
}

.principal{
	background-color: blue;
}

.pie{
	background-color: darkorange;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}




.paginacion {
  text-align: center;
  margin-top: 20px;
}

.btn-pag,
.numero {
  display: inline-block;
  padding: 6px 12px;
  margin: 3px;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.btn-pag:hover,
.numero:hover {
  background-color: #333;
  color: white;
}

.actual {
  background-color: #333;
  color: white;
  font-weight: bold;
  cursor: default;
}

.disabled {
  color: #aaa;
  border-color: #aaa;
  cursor: not-allowed;
}



.estado-activo {
    color: green;
    font-weight: bold;
}

.estado-inactivo {
    color: red;
    font-weight: bold;
}
*/