<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Estudiantes - Azure</title>
    <link rel="stylesheet" href="../styles/style.css">
    <!-- Incluir SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <div class="form-container">
        <h2>Ingreso de Datos</h2>
        <form action="../controller/insertar.php" method="POST">
            <div class="input-group">
                <label>Nombre Completo</label>
                <input type="text" name="name" placeholder="Nombre" required>
            </div>

            <div class="input-group">
                <label>Correo Electrónico</label>
                <input type="email" name="email" placeholder="Correo" required>
            </div>

            <div class="input-group">
                <label>Edad</label>
                <input type="number" name="age" placeholder="Edad" required>
            </div>

            <button type="submit" id="btnEnviar">Enviar a MongoDB Atlas</button>
        </form>
    </div>

    <script src="../model/script.js"></script>
</body>
</html>