<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # If no file real, send to index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
