<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barberia Style</title>
    <link rel="stylesheet" href="../../public/assets/css/styles.css">
</head>
<body>
    <header class="header">
        <img
            src="https://tse1.mm.bing.net/th/id/OIP.XNhrKkDEh7IS8BD6hQEOpQHaGL?rs=1&pid=ImgDetMain&o=7&rm=3"
            alt="Logo Barberia"
            class="logo"
        >
        <h1>Barberia Style</h1>
    </header>

    <main class="content">
        <h2>Panel Principal</h2>
        <section class="main-options">
            <a href="cortes.html" class="card">Agendar Citas</a>
            <a href="tabla_cortes.html" class="card">Citas Registradas</a>
            <a href="products.html" class="card">Productos</a>
            <a href="contact.html" class="card">Contacto</a>
            <a href="barbers.html" class="card">Crear Barberos</a>
        </section>
    </main>
</body>
</html>
