<main id="main-content">
    <!-- Working Hours Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100">
                        <img class="img-fluid h-100" src="/img/open.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-secondary h-100 d-flex flex-column justify-content-center p-5">
                        <p class="d-inline-flex bg-dark text-primary py-1 px-4 me-auto">Horario de Atención</p>
                        <h1 class="text-uppercase mb-4">
                            Te esperamos en Barbería PANDA Black And White
                        </h1>
                        <div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                                <h6 class="text-uppercase mb-0">Horario</h6>
                                <span class="text-uppercase">10:00 a.m. - 8:30 p.m.</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                                <h6 class="text-uppercase mb-0">Modalidad</h6>
                                <span class="text-uppercase">Cita o llegada libre</span>
                            </div>
                            <div class="d-flex justify-content-between border-bottom py-2">
                                <h6 class="text-uppercase mb-0">Ubicación</h6>
                                <span class="text-uppercase">Inés Gangotena y Av. Atahualpa</span>
                            </div>
                        </div>
                        <p class="mt-4 mb-0">
                            Puedes reservar una cita o acudir por llegada libre, dependiendo de la disponibilidad.
                            El tiempo de atención depende del servicio solicitado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Working Hours End -->
</main>

