/vendor/
node_modules/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

composer.lock
.php-cs-fixer.cache
.phpunit.result.cache

.env
.env.local

error_log
*.log
scratch/
.gemini/
