# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de compilación
dist/
build/

# Entorno y variables secretas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
# (No ignores prisma/schema.prisma ni las migraciones, pero sí la base de datos local SQLite si la usaras)
*.db
*.db-journal

# Logs
logs/
*.log

# Editor de código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
