# Configuración recomendada para entorno local
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=students
MONGODB_COLLECTION=Customer
MONGODB_APP_NAME=Students CRUD Local

APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=America/Bogota

# Ejemplo opcional para MongoDB Atlas:
# MONGODB_URI=mongodb+srv://USUARIO:CLAVE@cluster.mongodb.net/?retryWrites=true&w=majority
