# Dependencias de Node (se pueden instalar de nuevo)
node_modules/

# Carpeta de producción o build de Vite
dist/
build/
out/

# Archivos de entorno o secretos
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Cachés de npm o yarn
npm-cache/
.cache/