DATABASE_URL=postgresql://postgres.hoskmelosabzuxjvbjyk:fabuladental30716@aws-1-us-east-2.pooler.supabase.com:5432/postgres

def create_db_and_tables():
    SQLModel.metadata.create_all(db_engine)

python main.py