<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Externo</title>
    <link rel="stylesheet" href="../PUBLIC/CSS/estilos.css">
</head>

<body>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <br>
    <label for="area">Ingrese una Frase</label>
    <textarea name="area" id="area"></textarea>
    <br>
    <label for="mes">Seleccione el mes:</label>
    <select name="mes" id="mes">
        <option value="ene">ENERO</option>
        <option value="feb">FEBRERO</option>
        <option value="mar">MARZO</option>
        <option value="jun">JUNIO</option>
        <option value="jul">JULIO</option>
    </select>
    <br>
    <label>Seleccione su sexo:</label>
    <label for="hombre">Hombre</label>
    <input type="radio" name="sexo" id="hombre" value="HOMBRE">
    <label for="mujer">Mujer</label>
    <input type="radio" name="sexo" id="mujer" value="MUJER">
    <br>
    <label>SELECCIONE SUS DÍAS DE ESTUDIO:</label>
    <br>
    <label for="lunes">LUNES</label>
    <input type="checkbox" name="dias[]" id="lunes" value="LUNES">
    <label for="martes">MARTES</label>
    <input type="checkbox" name="dias[]" id="martes" value="MARTES">
    <label for="miercoles">MIERCOLES</label>
    <input type="checkbox" name="dias[]" id="miercoles" value="MIERCOLES">
    <label for="jueves">JUEVES</label>
    <input type="checkbox" name="dias[]" id="jueves" value="JUEVES">
    <label for="viernes">VIERNES</label>
    <input type="checkbox" name="dias[]" id="viernes" value="VIERNES">

</body>

</html>